{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li style="list-style-type: none;">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
  <div>
      <li style="list-style-type: none;"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

      {% if question.can_vote %}
        <a href="{% url 'polls:detail' question.id %}">
        <input type="button" value="Vote"></a>
      {% endif %}

      <a href="{% url 'polls:results' question.id %}">
      <input type="button" value="Results"></a>
  </div>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
{% endif %}